<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myadridev.mypocketcave">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashScreenActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BottleDetailActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BottleEditActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_edit_bottle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BottleCreateActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_create_bottle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AboutActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SuggestBottleSearchActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_suggest_bottle_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SuggestBottleResultActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_suggest_bottle_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CaveDetailActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CaveEditActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_edit_cave"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CaveCreateActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_create_cave"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PatternSelectionActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_select_pattern"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PatternCreateActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_create_pattern"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PatternEditActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_edit_pattern"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SyncActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_sync"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>